.MMM-Synology-Download_Station table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85em;
}

.MMM-Synology-Download_Station td {
  padding: 3px 8px;
  border-bottom: 1px solid #444;
}

.MMM-Synology-Download_Station .fa {
  margin-right: 6px;
  font-size: 1.2em;
}

/* Gestion des couleurs par classe */
.MMM-Synology-Download_Station .downloading {
  color: cyan;
}

.MMM-Synology-Download_Station .seeding {
  color: green;
}

.MMM-Synology-Download_Station .paused {
  color: gray;
}

.MMM-Synology-Download_Station .error {
  color: red;
}

/* Tailles de texte */
.MMM-Synology-Download_Station .xsmall {
  font-size: 0.83em;
}

.MMM-Synology-Download_Station .small {
  font-size: 0.96em;
}