.MMM-Synology-Download_Station table {
  width: 100%;
  font-size: 0.85em;
  border-collapse: collapse;
}

.MMM-Synology-Download_Station td {
  padding: 3px 8px;
  border-bottom: 1px solid #444;
}

.MMM-Synology-Download_Station .fa {
  margin-right: 6px;
  font-size: 1.2em;
  color: #55d;
}

.MMM-Synology-Download_Station .xsmall {
  font-size: 0.83em;
}

.MMM-Synology-Download_Station .small {
  font-size: 0.96em;
}
